<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a {% if link.url != '' %}href="{{ domain }}{{ link.url }}"{% endif %} {% if link.title contains 'About' %}id="about-toggle"{% endif %}
					{% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div>

{% include browser-upgrade.html %}

<header class="masthead">
	<div class="wrap">
		{% include card.html %}
	</div>
</header>

<div class="js-menu-screen menu-screen"></div>
