
.user-card {
  width: 400px;
  max-width: calc(100vw - 2em);
  background: #FFFFFF;
  border-radius: 2px;
  padding: 2em;
  text-align: center;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
  }

.card {
  width: 460px;
  background: #FFFFFF;
  border-radius: 2px;
  padding: 4.5em 3em;
  text-align: center;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
  margin: auto;
  position: fixed;
  left: calc(50vw - 230px);
  top: calc(50vh - 150px);
    z-index: 1;
  }

  .user-card-avatar {
    float: left;
    user-select: none;
    width: 125px;
    height: 125px;
  }

  .user-card-avatar p {
    position: absolute;
    top: 192px;
    left: 62px;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
  }

  .user-card-avatar p:hover {
    border-bottom: 1px dotted #aaaaaa;
  }
  
  .user-card-avatar-image {
    position: absolute;
    top: 32px;
    left: 16px;
    z-index: 1;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    pointer-events: none;
  }
  .user-info {
    width: 70%;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .user-links {
    font-weight: 300;
    width: 100%;
    position: absolute;
    bottom: -90px;
    left: 0px;
    font-size: 1rem;
    color: #999999;

    & a{
      color: #AAAAAA;
    }

    & a:hover{
      color: #cccccc;
    }
  }
  .user-card-title {
    text-transform: uppercase;
  }


  .user-card-bio-buttons {
    text-align: center;
  }
  .user-card-bio-button, .user-card-resumee-button {
    color: black;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    background: none;
    border: 0;
    width: fit-content;
    margin-top: 1em;
    border-bottom: dotted 1px fade-out(black, 0.4);
    transition: border .2s ease-out;
    font-size: 0.8em;
    padding: 0.1em;
    line-height: 1em;
    margin: 1em 0.5em 0 0.5em;
    &:hover {
      border-bottom-color: fade-out(black, 0.2);
    }
  }
  .user-card-back {
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    text-transform: uppercase;
    background: none;
    border: 0;
    border-bottom: dotted 1px fade-out(black, 0.4);
    transition: border .2s ease-out;
    font-size: 0.8em;
    line-height: 1em;
    &:hover {
      border-bottom-color: fade-out(black, 0.2);
    }
  }

  .user-card-bio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1;
    pointer-events: none;

    &-hidden {
      opacity: 0;
      transition: opacity 0.8s ease-out 0.3s;
    }

    &-visible {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.8s ease-out;
    }
  }
  .user-card-bio-visible .user-card-bio-content {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.3s ease-out 0.3s, transform 0.3s ease-out 0.3s;
  }
  .user-card-bio-hidden .user-card-bio-content {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
  }
  .user-card-bio-content {
    padding: 1.5em;
    text-align: left;
  }
  .user-card-bio-content p {
    font-weight: 300;
    font-size: 0.9em;
    margin-bottom: 16px;
  }