/* ==========================================================================
   Site footer
   ========================================================================== */

.footer {
  @include clearfix;
  color: #EEEEEE;
  margin: 4em auto 0px !important;
  text-align: center;
  @include font-size(14, no);
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.62);
  a {
    color: #EEEEEE;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.62);
  }
}
.footer div{
  display: inline-block;
  padding: 10px;
}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0 2em;

  a {
    padding: 4px 8px;

    &:hover {
      color: $black;
    }
  }
}
