
/*
   Site title/name
   ========================================================================== */

.site-title {
  font-weight: 300;
  margin-top: 32px;
  margin-bottom: 16px;
  @include animation-duration(1s);
  @include animation-delay(.75s);

  a {
    color: $black;
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin-top: 28px;
  margin-bottom: 6px;
  font-weight: 300;
  @include font-size(16);
  @include animation-duration(1s);
  @include animation-delay(1s);

  @include media($medium) {
    @include font-size(20);
  }
}
