
// Carosel


.container-projects {
  background-color: #252526;
}

.project-grid {
  &-item {
    overflow: hidden;
    opacity: 0.5;
    transition:all 0.3s ease;
    
    @media (max-width: 400px) {
      width: 100%;
    }
    @media (max-width: 800px) {
      width: 50%;
    }
    @media (max-width: 1200px) and (min-width: 800px) {
      width: 33%;
    }
    @media (max-width: 1600px) and (min-width: 1200px) {
      width: 25%;
    }
    @media (min-width: 1600px) {
      width: 20%;
    }
  }

  &-item:hover {
     opacity: 1;
  }
}


.popup-title {
  position:absolute;
  top:100%;
  width:100%;
  transition: transform 250ms;
  vertical-align: bottom;
}
.popup-title span {
  display:block;
  margin:0;
  background-color: black;
}

.project-grid-item:hover .popup-title {
  transform:translateY(-100%);
}

.project-image {
    width: 100%;
    height: 100%;
}

.project-image img {
  width: 100%;
}

.project-description{
    position: absolute; 
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.sprite-logo{
  &-rxjs{
    background-position: 0px -0px;
  }

  &-react{
    background-position: -200px 0px;
  }

  &-node{
    background-position: -400px 0px;
  }

  &-mongo{
    background-position: 0px -200px;
  }

  &-jquery{
    background-position: -200px -200px;
  }

  &-rtdb{
    background-position: -400px -200px;
  }

  &-ansible{
    background-position: 0px -400px;
  }

  &-d3{
    background-position: -200px -400px;
  }

  &-angular{
    background-position: -400px -400px;
  }
}
.sprite-project-angular{
  background: url(/assets/img/sprite-projects-angular-compressed.png);
  display: inline-block;
  min-height: 200px;
  width: 100%;

  &-aca{
    background-position: 0px 0px;
  }
  &-ana{
    background-position: -300px 0px;
  }
  &-apa{
    background-position: -600px 0px;
  }
  &-ata{
    background-position: 0px -200px;
  }
  &-ava{
    background-position: -300px -200px;
  }
}

/// Panes
.tri-pane{
    text-align: center;
    padding: 50px 10%;

} 
.tri-pane-left{
    background-color: #557777;
}
.tri-pane-center{
    background-color: #99bbaa;
}
.tri-pane-right{
    background-color: #889977;
}