<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

<div id="preload">
  <img src="/assets/img/bcg_slide-1.jpg">
  <img src="/assets/img/bcg_slide-2.jpg">
</div>

<main>
  <section id="slide-1" class="homeSlide">
    <div class="bcg"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -100px;"
      data-anchor-target="#slide-1">
      <div class="hsContainer">

{% include navigation.html %}

      </div>
    </div>
  </section>

<section id="slide-2" class="homeSlide slide2">
    <div style="text-align: center;"><h2 style="font-weight: 300; margin: 0 auto;
    letter-spacing: 8px; padding: 14px;">PROJECTS</h2></div>

    <div class="grid" style="margin: auto">
  <div class="grid-item">
    <img src="/assets/img/project-screenshot-ava.jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/img/project-screenshot-apa.jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/img/project-screenshot-aca.jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/img/project-screenshot-ata.jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/img/project-screenshot-ana.jpg">
  </div>
</div>
</section>

<section id="slide-3" class="homeSlide">
<div class="bcg"
  data-start="background-position: 50% 200px;"
  data-bottom-top="background-position: 50% 0px;"
  data-anchor-target="#slide-3">
<div style="padding: 100px 0;" class="contact">

{% include contact.html %}

</div>
{% include footer.html %}
</div>
</section>
</main>

{% include scripts.html %}

</body>
</html>
