<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

<main>
  <section id="slide-1" class="homeSlide">
    <div class="bcg"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -100px;"
      data-anchor-target="#slide-1">
      <div class="hsContainer">

{% include navigation.html %}

      </div>
    </div>
  </section>

<section id="slide-2" class="homeSlide slide2">
    <div style="text-align: center;"><h2 style="font-weight: 300; margin: 0 auto;
    letter-spacing: 8px; padding: 14px;">PROJECTS</h2></div>



<div class="container-flex container-projects">
  <div class="row">
    <div class="col-12">
      <div class="tabs-left">
        <ul class="nav lib-tabs">
          {% for category in site.data.project-categories %}
            {% if category.id == 'angular' %}
              <li class="active">
              {% else %}
              <li>
            {% endif %}
            <a href="#tab-{{ category.id }}" data-toggle="tab">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
        <div class="lib-tab-content">
        {% assign bypassFirstLoop = true %}
        {% for category in site.data.project-categories %}
          {% if bypassFirstLoop == true %}
            <div class="tab-pane active" id="tab-{{ category.id }}">
          {% else %}
            <div class="tab-pane" id="tab-{{ category.id }}">
          {% endif %}
            <div class="container-flex">
              <div class="row project-cells">
  {% for project in site.data.projects %}
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img class="" src="/assets/img/{{ project.id }}-project-screenshots.png">
      </div><div class="project-description">
        {{ category.description }}
      </div>
    </div>
    {% if bypassFirstLoop == true %}
      <div class="col-md-4 col-sm-6">
        <div class="project-image">
        <span class="sprite-logo sprite-logo-{{ category.id }}"></span>
        </div><div class="project-description">
        </div>
      </div>
    {% endif %}
    {% assign bypassFirstLoop = false %}
  {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div><!-- /lib-tab-content -->

      </div><!-- /tabbable -->
    </div><!-- /col -->
  </div><!-- /row -->
  <div class="row">
    <div class="col-12" style="height: 25px;">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 tri-pane tri-pane-left">
      <i class="fa fa-comments fa-5x" aria-hidden="true"></i>
      <h2>Plan</h2>
    </div>
    <div class="col-sm-4 tri-pane tri-pane-center">
      <i class="fa fa-code fa-5x" aria-hidden="true"></i>
      <h2>Develop</h2>
    </div>
    <div class="col-sm-4 tri-pane tri-pane-right">
      <i class="fa fa-server fa-5x" aria-hidden="true"></i>
      <h2>Deploy</h2>
    </div>
  </div>
</div><!-- /container -->
</section>

<section id="slide-3" class="homeSlide">
<div class="bcg"
  data-start="background-position: 50% 200px;"
  data-bottom-top="background-position: 50% 0px;"
  data-anchor-target="#slide-3">
<div style="padding: 100px 0;" class="contact">

{% include contact.html %}

</div>
{% include footer.html %}
</div>
</section>
{% include scripts.html %}
</main>


</body>
</html>
