<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

<main>
  <section id="slide-1" class="homeSlide">
    <div class="bcg"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -100px;"
      data-anchor-target="#slide-1">
      <div class="hsContainer">

{% include navigation.html %}

      </div>
    </div>
  </section>

<section id="slide-2" class="homeSlide slide2">
    <div style="text-align: center;"><h2 style="font-weight: 300; margin: 0 auto;
    letter-spacing: 8px; padding: 14px;">PROJECTS</h2></div>



<div class="container-flex container-projects">
  <div class="row">
    <div class="col-12">
      <div class="tabs-left">
        <ul class="nav lib-tabs">
          <li class="active"><a href="#tab-angular" data-toggle="tab"> Angular </a></li>
          <li><a href="#tab-react" data-toggle="tab"> React </a></li>
          <li><a href="#tab-d3" data-toggle="tab"> D3 </a></li>
          <li><a href="#tab-rxjs" data-toggle="tab"> RxJS </a></li>
          <li><a href="#tab-jquery" data-toggle="tab"> jQuery </a></li>
          <li><a href="#tab-jquery" data-toggle="tab"> Node </a></li>
          <li><a href="#tab-jquery" data-toggle="tab"> Mongo </a></li>
          <li><a href="#tab-jquery" data-toggle="tab"> RTDB </a></li>
          <li><a href="#tab-jquery" data-toggle="tab"> Ansible </a></li>
          <li><a href="#tab-jquery" data-toggle="tab"> Shell </a></li>
        </ul>
        <div class="lib-tab-content">
          <div class="tab-pane active" id="tab-angular">
<div class="container-flex">
  <div class="row project-cells">
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img class="" src="/assets/img/project-screenshot-ava.jpg">
      </div><div class="project-description">
        Angular Voting App
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <span class="sprite-logo sprite-logo-angular"></span>
      </div><div class="project-description">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-aca.jpg">
      </div><div class="project-description">
        Angular Stocks App
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-ata.jpg">
      </div><div class="project-description">
        Angular Trading App
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-apa.jpg">
      </div><div class="project-description">
        Angular Pinterest App
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-ana.jpg">
      </div><div class="project-description">
        Angular Nightlife App
      </div>
    </div>
  </div>
</div>
          </div><div class="tab-pane" id="tab-react">
  <div class="row project-cells">
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-ava.jpg">
      </div><div class="project-description">
        Angular Voting App
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <span class="sprite-logo sprite-logo-react"></span>
      </div><div class="project-description">
        Angular 2
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-aca.jpg">
      </div><div class="project-description">
        Angular Stocks App
      </div>
    </div>
          </div><div class="tab-pane" id="tab-d3">
  <div class="row project-cells">
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-ava.jpg">
      </div><div class="project-description">
        Angular Voting App
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <span class="sprite-logo sprite-logo-d3"></span>
      </div><div class="project-description">
        Angular 2
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-aca.jpg">
      </div><div class="project-description">
        Angular Stocks App
      </div>
    </div>
          </div><div class="tab-pane" id="tab-rxjs">
  <div class="row project-cells">
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-ava.jpg">
      </div><div class="project-description">
        Angular Voting App
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <span class="sprite-logo sprite-logo-rxjs"></span>
      </div><div class="project-description">
        Angular 2
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-aca.jpg">
      </div><div class="project-description">
        Angular Stocks App
      </div>
    </div>
          </div><div class="tab-pane" id="tab-jquery">
  <div class="row project-cells">
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-ava.jpg">
      </div><div class="project-description">
        Angular Voting App
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <span class="sprite-logo sprite-logo-jquery"></span>
      </div><div class="project-description">
        Angular 2
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="project-image">
      <img src="/assets/img/project-screenshot-aca.jpg">
      </div><div class="project-description">
        Angular Stocks App
      </div>
    </div>
          </div>
        </div><!-- /lib-tab-content -->
      </div><!-- /tabbable -->
    </div><!-- /col -->
  </div><!-- /row -->
  <div class="row">
    <div class="col-12" style="height: 25px;">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 tri-pane tri-pane-left">
      <i class="fa fa-comments fa-5x" aria-hidden="true"></i>
      <h2>Plan</h2>
    </div>
    <div class="col-sm-4 tri-pane tri-pane-center">
      <i class="fa fa-code fa-5x" aria-hidden="true"></i>
      <h2>Develop</h2>
    </div>
    <div class="col-sm-4 tri-pane tri-pane-right">
      <i class="fa fa-server fa-5x" aria-hidden="true"></i>
      <h2>Deploy</h2>
    </div>
  </div>
</div><!-- /container -->
</section>

<section id="slide-3" class="homeSlide">
<div class="bcg"
  data-start="background-position: 50% 200px;"
  data-bottom-top="background-position: 50% 0px;"
  data-anchor-target="#slide-3">
<div style="padding: 100px 0;" class="contact">

{% include contact.html %}

</div>
{% include footer.html %}
</div>
</section>
{% include scripts.html %}
</main>


</body>
</html>
